<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NotificadorMensajesUmbria.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <NotificadorMensajesUmbria.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value>https://www.comunidadumbria.com/usuario/novedades</value>
            </setting>
            <setting name="usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="clave" serializeAs="String">
                <value />
            </setting>
            <setting name="showMensajesDirector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="idMensajesDirector" serializeAs="String">
                <value>m_1</value>
            </setting>
            <setting name="showMensajesJugador" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="idMensajesJugador" serializeAs="String">
                <value>m_2</value>
            </setting>
            <setting name="idMensajesVIP" serializeAs="String">
                <value>m_3</value>
            </setting>
            <setting name="idMensajesTalleresDirector" serializeAs="String">
                <value>m_20</value>
            </setting>
            <setting name="idMensajesTalleresRedactor" serializeAs="String">
                <value>m_4</value>
            </setting>
            <setting name="idMensajesPrivados" serializeAs="String">
                <value>iconoMensajes</value>
            </setting>
            <setting name="tagMensajesPrivados" serializeAs="String">
                <value>span</value>
            </setting>
            <setting name="showMensajesPrivados" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resumido" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Espera" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="showNotificacionSinMensajes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IniciarMinimizado" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showMensajesVIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showMensajesTalleresDirector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showMensajesTalleresRedactor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="browser" serializeAs="String">
                <value>default</value>
            </setting>
        </NotificadorMensajesUmbria.Properties.Settings>
    </userSettings>
</configuration>
